In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [12]:
weather_data = pd.read_csv("../WeatherPy/cities.csv")
weather_data

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longtitude,Date
0,Constitución,CL,286.40,80,61,3.92,-35.33,-72.42,1607380446
1,Pobé,BJ,297.50,91,5,1.72,6.98,2.66,1607380447
2,Saint Paul Harbor,US,279.15,81,90,4.10,57.79,-152.41,1607380213
3,Chui,UY,290.03,84,15,4.23,-33.70,-53.46,1607380447
4,Mataura,NZ,292.59,60,1,3.13,-46.19,168.86,1607380447
...,...,...,...,...,...,...,...,...,...
552,Zaoyang,CN,276.35,77,78,1.54,32.13,112.75,1607380589
553,Caravelas,BR,297.49,80,17,3.82,-17.71,-39.25,1607380590
554,Nador,MA,288.15,77,40,2.60,35.17,-2.93,1607380590
555,Sarangani,PH,302.10,73,56,3.79,5.40,125.46,1607380590
556,Ratnagiri,IN,297.18,47,0,3.80,16.98,73.30,1607380590

In [13]:
# Store latitude and longitude in locations
lat_lon = weather_data[['Latitude', 'Longtitude']]

lat_lon.head()

   Latitude  Longtitude
0    -35.33      -72.42
1      6.98        2.66
2     57.79     -152.41
3    -33.70      -53.46
4    -46.19      168.86

In [25]:
humidity = weather_data["Humidity"]

#humidity['DataFrame Column'] = df['DataFrame Column'].astype(float)

In [27]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at
# a readable size
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lon, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…