In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#Import API key
from api_key import g_key
gmaps.configure(api_key=g_key)

In [16]:
weather_data = pd.read_csv("../WeatherPy/cities.csv")
weather_data

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longtitude,Date
0,Constitución,CL,286.40,80,61,3.92,-35.33,-72.42,1607380446
1,Pobé,BJ,297.50,91,5,1.72,6.98,2.66,1607380447
2,Saint Paul Harbor,US,279.15,81,90,4.10,57.79,-152.41,1607380213
3,Chui,UY,290.03,84,15,4.23,-33.70,-53.46,1607380447
4,Mataura,NZ,292.59,60,1,3.13,-46.19,168.86,1607380447
...,...,...,...,...,...,...,...,...,...
552,Zaoyang,CN,276.35,77,78,1.54,32.13,112.75,1607380589
553,Caravelas,BR,297.49,80,17,3.82,-17.71,-39.25,1607380590
554,Nador,MA,288.15,77,40,2.60,35.17,-2.93,1607380590
555,Sarangani,PH,302.10,73,56,3.79,5.40,125.46,1607380590
556,Ratnagiri,IN,297.18,47,0,3.80,16.98,73.30,1607380590

In [6]:
#store latitude and longitude
locations = weather_data[['Latitude', 'Longtitude']]

locations.head()

   Latitude  Longtitude
0    -35.33      -72.42
1      6.98        2.66
2     57.79     -152.41
3    -33.70      -53.46
4    -46.19      168.86

In [7]:
#store humidity to use as weight for heatmap
humidity = weather_data["Humidity"]

In [9]:
#plotting heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=100,point_radius=3)
fig.add_layer(heat_layer)

#show heatmap
fig

Figure(layout=FigureLayout(height='420px'))

Narrow down the DataFrame to find your ideal weather condition  (Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.)

    *A max temperature lower than 280 degrees but higher than 270.
    *Wind speed less than 10 mph.
    *Zero cloudiness.
    *Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [19]:
#Narrow down the cities with above criteria
ideal_city= weather_data.loc[(weather_data["Temperature"] > 270) & (weather_data["Temperature"] < 280) & (weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0),:]
ideal_city= ideal_city.dropna(how='any')
ideal_city.reset_index(inplace=True)
del ideal_city['index']
ideal_city

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longtitude,Date
0,Paamiut,GL,270.49,79,0,3.53,61.99,-49.67,1607380465
1,Arrondissement de Montauban,FR,279.76,81,0,2.60,44.08,1.50,1607380491
2,Tawang Town,IN,274.53,72,0,1.65,27.58,91.87,1607380499
3,East Retford,GB,274.26,87,0,3.10,53.32,-0.94,1607380512
4,Rovinj,HR,278.65,81,0,2.10,45.08,13.64,1607380537
5,Dali,CN,277.58,79,0,0.26,25.70,100.18,1607380557
6,Tabas,IR,278.15,86,0,1.00,33.60,56.92,1607380567

In [20]:
hotels = []

for i in range(len(ideal_city)):
    lat = ideal_city.loc[i]['Latitude']
    lng = ideal_city.loc[i]['Longtitude']

    parameters = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_res = requests.get(base_url, params=parameters).json()
    try:
        hotels.append(hotel_res['results'][0]['name'])
    except:
        hotels.append("")
        
ideal_city["Hotel Name"] = hotels
ideal_city = ideal_city.dropna(how='any')
ideal_city.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longtitude,Date,Hotel Name
0,Paamiut,GL,270.49,79,0,3.53,61.99,-49.67,1607380465,Paamiut
1,Arrondissement de Montauban,FR,279.76,81,0,2.60,44.08,1.50,1607380491,Albias
2,Tawang Town,IN,274.53,72,0,1.65,27.58,91.87,1607380499,Shannan
3,East Retford,GB,274.26,87,0,3.10,53.32,-0.94,1607380512,Retford
4,Rovinj,HR,278.65,81,0,2.10,45.08,13.64,1607380537,Rovinj

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in ideal_city.iterrows()]
locations = ideal_city[["Latitude", "Longtitude"]]

In [24]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))